on:
  push:
    branches:
      - main
jobs:
  build-java-artifacts:
    runs-on: ubuntu-latest
    steps:
      - run: echo "hello github actions"
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup Java JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: 17
      

